




header{
  width: $container-width;
  height: 100px;
  @include myFlexSpace;
  border-bottom: 1px solid grey;


  .logo{
    @include myFlexSpace;
    width: 120px;

    h2{
      font-weight: 300;
    }
  }

  nav{
    width: 40%;
  }
  ul{
    @include myFlexSpace;
    list-style-type: none;
    font-weight: 600;
  }

  button{
    padding: 8px;
    border: 1px solid blue;
    border-radius: 10px;
    width: 110px;
    font-weight: 600;

    a{
      width: 90%;
      margin-left: 5%;
      @include myFlexSpace;
      color: $link-color;
    }

    img{
      height: 20px;
      width: 20px;
    }
  }
}
