@import "Partials/variables";
@import "Partials/common";
@import "Partials/header";
@import "Partials/intro";
@import "Partials/section1";
@import "Partials/central-section";


// REGOLE GENERALI
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #58402c;
  font-family: 'Roboto', sans-serif;
}

h1{
  font-size: 50px;
}
h2{
  font-size: 25px;
}
p{
  font-size: 15px;
}
a{
  text-decoration: none;
}
.container{
  @include myFlex;
  width: 90%;
  margin-left: 5%;
}
